@import "tailwindcss";

::-moz-selection { /* Code for Firefox */
  color: black;
  background: green;
}

::selection {
  color: white;
  background: black;
}

body {
  /* background: #ECE9E6; */
  /* background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6); */
  /* background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); */
  font-family: "Bebas Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* letter-spacing: 2em; */
}

li:hover {
  list-style: square!important;
}

li:hover::marker {
  color: red;
  font-size: 1em;
  margin-right: 10px;
}

@keyframes smoothLines {
  from { background-position: 0 0; }
  to   { background-position: 20px 11.5px; }
}

.ledger {
  background-image: linear-gradient(
  45deg, 
  #000000 8.3%, 
  transparent 8.3%, 
  transparent 50%, 
  #000000 50%, 
  #000000 58.33%, 
  transparent 58.33%, 
  transparent 100%
  );
  background-size: 8.49px 8.49px;
  animation: smoothLines 1s linear infinite reverse;
}
